<!-- directions -->
<div class="directions">
  <h2>Направления дейтельности</h2>
  <div class="directions-blocks" id="js-directions">
    <div class="directions__block" style="background-image: url('assets/i/direction-3.jpg')">
      
    </div>
    <div class="directions__block" style="background-image: url('assets/i/direction-4.jpg')">
      
    </div>
    <div class="directions__block" style="background-image: url('assets/i/direction-1.jpg')">
      
    </div>
    <div class="directions__block" style="background-image: url('assets/i/direction-2.jpg')">
      
    </div>
    <div class="directions__block" style="background-image: url('assets/i/direction-3.jpg')">
      
    </div>
    <div class="directions__block" style="background-image: url('assets/i/direction-4.jpg')">
      
    </div>
    <div class="directions__block" style="background-image: url('assets/i/direction-1.jpg')">
      
    </div>
    <div class="directions__block" style="background-image: url('assets/i/direction-2.jpg')">
      
    </div>
  </div>
</div>
<!-- directions -->