<!--footer-->
<footer class="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="copy">Copyright @ 2014-2018</div>
        <a class="footer-main__policy-link" href="#">Политика конфиденциальности</a>
        <small>Но как можно было спокойно спать под этот сотрясающий мебель
        трезвон? Ну, спал-то он неспокойно, но, видимо, крепко. Однако что делать
        теперь? Следующий поезд уходит в семь часов; чтобы поспеть на него, он
        должен отчаянно торопиться, а набор образцов.</small>
        
      </div>
      <!-- /.col-md -->
      <div class="col-md">
        <ul class="footer-main__nav_menu">
          <li class="active"><a href="#">Главная</a></li>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Наши услуги</a></li>
          <li><a href="#">Структура</a></li>
          <li><a href="#">Инвесторам</a></li>
          <li><a href="#">Контакты</a></li>
        </ul><!-- footer-main__nav-menu -->
      </div>
      <!-- /.col-md -->
      <div class="col-md">
        <ul class="footer-main__categories">
          <li><a href="#">Земля</a></li>
          <li><a href="#">Жилая недвижимость</a></li>
          <li><a href="#">Коммерческая недвижимость</a></li>
          <li><a href="#">Новостройки</a></li>
          <li><a href="#">Дом/Коттеджи</a></li>
          <li><a href="#">Строительство</a></li>
          <li><a href="#">Аренда</a></li>
        </ul>
      </div>
      <!-- /.col-md -->
      <div class="col-md">
        <ul class="footer-contacts">
          <li class="footer-contacts__phone">8 (800) 850-50-50</li>
          <li class="footer-contacts__address">r. Москва, ул. Морозова, д.12, 3 этаже</li>
          <li class="footer-contacts__address">r. Москва, ул. Ленина, д. 23, офис 2</li>
          <li class="footer-contacts__email">invest@mail.ги</li>
        </ul><!-- footer-contacts -->

        <ul class="footer-socials">
          <li><a href="#"><i class="fa fa-vk"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- /.col-md -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</footer>
<!--[if lt IE 9]>
<script src="assets/libs/html5shiv/es5-shim.min.js"></script>
<script src="assets/libs/html5shiv/html5shiv.min.js"></script>
<script src="assets/libs/html5shiv/html5shiv-printshiv.min.js"></script>
<script src="assets/libs/html5shiv/respond.min.js"></script>
[endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="assets/libs/jquery-migrate/jquery-migrate.min.js"></script>
<script src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js"></script>
<script src="assets/libs/slick/slick.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>