<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <title>СтройИнвест - корпоративный сайт</title>
    </head>
    <body>
        <div class="container">
            <div class="top-nav">
                <div class="row justify-content-between">
                    <div class="col-md-12 col-lg-auto">
                        <div class="logo">
                            <a href="#">
                                <img src="assets/i/logo.jpg" alt="">
                            </a>
                        </div>

                        <button class="menu-btn" id="js-menu-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <!-- /.col-md -->
                    <div class="col-md">
                        <ul class="top-nav_menu" id="js-top-nav_menu">
                            <li><a href="index.html">Главная</a></li>
                            <li><a href="about.html">О компании</a></li>
                            <li><a href="category.html">Наши услуги</a></li>
                            <li><a href="structure.html">Структура</a></li>
                            <li><a href="investors.html">Инвесторам</a></li>
                            <li><a href="object-page.html">Страница товара</a></li>
                            <li><a href="contacts.html">Контакты</a></li>
                        </ul>
                    </div>
                    <!-- /.col-md -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.top-nav -->
        </div>
        <!-- /.container -->