@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "_fonts.scss";
@import "_variables.scss";
@import "_mixins.scss";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

html,
body{
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: $dark;
  background: $body-bg;
}

input,
button,
textarea{
  &:focus {
    outline: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: $accent;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: all .2s;

  &.btn-primary {
    color: $white;
    background: $accent;
    border-bottom: 5px solid darken($accent, 10%);

    &:hover {
      background: lighten($accent, 4%);
    }
    &:active {
      background:darken($accent, 4%);
    }
  }
}

h2{
    font-size: 24px;
}