@import "../libs/slick/_slick.scss";
@import 'partials/_start.scss';
@import "../libs/powerange/dist/powerange.min.css";

body{
  padding-top: 40px;
}

/*top-nav
=======================================*/ 
.top-nav {
  position: relative;
  background: $white;

  .logo {
    padding: 15px;

    a{
      display: flex;
      align-items: center;
    }
  }

  .menu-btn {
      position: absolute;
      top: 30px;
      right: 30px;
      display: none;
      width: 30px;
      height: 30px;
      font-size: 18px;
      background: transparent;
      border: none;
      cursor: pointer;

      @media screen and (max-width: $lg) {
         display: block;     
      }    
    }

  &_menu {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: stretch;

    @media screen and (max-width: $lg) {
       flex-direction: column; 
       display: none;    
    }

    @media screen and (min-width: $lg) {
           text-align: right;     
        }        

    li{
      display: inline-block;

      @media screen and (max-width: $lg) {
         display: block;     
      }    

      &:first-child a{
        padding-left: 0;

        @media screen and (max-width: $lg) {
           padding-left: 22px;     
        }    
      }

      &:last-child a{
        @media screen and (max-width: $xl) {
         padding-right: 22px;     
        } 
      }

      &.active {
        a{
          &::after {
            transform: scale(1);
          }
        }
      }
    }

    a{
      display: block;
      padding-left: 22px;
      padding-right: 22px;
      height: 89px;
      line-height: 89px;
      font-weight: bold;
      text-transform: uppercase;
      color: $dark;

      @media screen and (min-width: $lg) {
         padding-left: 10px;
         padding-right: 10px;     
      }    

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: $accent;
        transform: scale(0);
        transition: all .5s ease;
      }

      &:hover::after {
        transform: scale(1);
      }
    }
  }
}

.main {
  padding: 30px 0;
}

/*left-sidebar
=======================================*/ 
.left-sidebar{
  &-btn {
    position: relative;
    margin-bottom: 20px;
    display: none;
    padding: 15px 0;
    padding-left: 28px;
    font-size: 20px;
    width: 100%;
    text-align: left;
    background: $white;
    border: none;
    cursor: pointer;

    @media screen and (max-width: $md) {
       display: block!important;     
    }    

    .fa {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
    }
  }

  &__menu {
    display: none;
    background: $white;

    @media screen and (min-width: $md) {
       display: block;     
    }    

    li:first-child a{
      padding-top: 20px;
    }

    li:last-child a{
      padding-bottom: 20px;
    }

    a{
      display: block;
      padding: 15px 30px;
      font-size: 16px;
      color: $dark;
      transition: all .3s;

      &:hover {
        color: $white;
        background: $accent;
      }
    }
  }

  &__object {
    margin-bottom: 30px;
    background: $white;

    .img-wrap{
      width: 100%;
      height: 200px;

      @media screen and (max-width: $xl) {
         height: 160px;     
      }    

      @media screen and (max-width: $lg) {
         height: 100px;     
      }    

      @media screen and (max-width: $md) {
         height: 300px;     
      }    

      @media screen and (max-width: 430px) {
         height: 200px;        
      }    

      img{
        width: 100%;
        height: auto;
      }
    }

    h3 {
      font-weight: normal;
      text-transform: uppercase;
    }

    &-description {
      padding: 30px;

      a{
        text-decoration: underline;
      }
    }
  }
}
/*left-sidebar
=======================================*/ 

/*content
=======================================*/ 
.content{
  &-index{
    margin-bottom: 85px;
  }
}

/*directions
=======================================*/ 
.directions {
  &__block {
    margin: 0 15px;
    padding: 15px 10px;
    text-align: center;
    height: 220px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    @media screen and (max-width: 576px) {
       height: 600px;
    }    

    h3{
      color: $accent;
    }
  }

  .slick-active,
  .slick-active:focus {
      outline: none!important;
    }

  .slick-dots{
    bottom: -40px;

    li{
      
      &.slick-active{
        button{
          background: #444;
        }
      }

      button{
        width: 4px;
        height: 4px;
        background: #888;
        border-radius: 50%;

        &::before{
          content: '';
          width: 8px;
          height: 8px;
        }
      }
    }
  }
}
/*directions
=======================================*/ 

/*team
=======================================*/ 
.team{
  &__item {
    margin-bottom: 30px;
    text-align: center;
  }

  h4{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: normal;
  }
}

/*team
=======================================*/ 

/*contacts
=======================================*/ 
.contacts {

  &__phone {
    font-size: 18px;
  }

  .btn{
    margin-top: 30px;
    margin-bottom: 40px;
  }

  p{
    .fa{
      margin-right: 12px;
    }
  }

  .socials {
    text-align: left;
    color: $accent;

    li a{
      margin-right: 0;
      text-align: center;
      background:$accent;

      &:hover{
        background: darken($accent, 10%);
      }

      .fa{
        color: $white;
      }
    } 
  }
}
/*contacts
=======================================*/ 

/*structure
=======================================*/ 
.structure {
  &__item {
    margin-bottom: 25px;
    padding: 20px;
    min-height: 320px;
    background: $white;
    transition: all .4s ease;
    cursor: pointer;

    &:hover{
      box-shadow: 0 1px 6px rgba(0,0,0,.4);
    }

  }

  &__title {
    display: block;
    margin-bottom: 15px;
  }

  small {
    display: block;
    opacity: .6;
  }

  p{
    font-size: 12px;
    line-height: 22px;
  }
}
/*structure
=======================================*/ 

/*investors
=======================================*/ 
.calc{
  &__programms {
    display: flex;
    flex-wrap: wrap;
  }

  label {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 4px;

    &:hover{
      cursor: pointer;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 24px;
      height: 24px;
      background:$white;
      border: 6px solid $white;
      border-radius: 50%;
      box-shadow: 0 5px 10px rgba(0,0,1,0.1);
      transition: all .2s ease;
    }

    span {
      display: inline-block;
      padding-left: 32px;
    }

    small {
      display: block;
      margin-left: 24px;
      font-size: 10px;
      color: $dark;
      opacity: .5;
    }
  }

  &-radio {
    flex-basis: 50%;


    input[type="radio"]{
      display: none;

      &:checked + label::before{
        background: $accent;
        border: 6px solid $white;
      }
    }
  }


  /*calc-popular
  =======================================*/ 
  &-popular {
    position: relative;
    display: block;
    margin-top: 4px;
    left: -20px;
    height: 26px;
    line-height: 26px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    background: $accent;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      left: -4px;
      width: 8px;
      height: 8px;
      background: $accent;
    }
  }
  
  /*calc-legal
  =======================================*/ 
  &-legal {
    font-size: 12px;
  }

  &-right {
    h4{
      margin-top: 0;
    }
  }

  /*calc-range
  =======================================*/ 
  &-range {
    display: block;
    margin-bottom: 30px;
  }

  /*calc-sum
  =======================================*/ 
  &-sum {
    margin-bottom: 20px;

    &-label {
      margin-right: 10px;
    }

    &-num {
      display: inline-block;
      padding: 15px 0;
      width: 200px;
      text-align: center;
      font-size: 18px;
      background: $white;
    }
  }

  /*calc-total
  =======================================*/ 
  &-total,
  &-monthly {
    display: inline-block;
    padding: 10px 28px;
    text-align: center;

  &-monthly span {
    padding: 10px;
  }  

    strong {
      display: block;
      font-size: 18px;
    }

    small {
      font-size: 10px; 
    }
  }

  &-total {
    background: $white;

    strong {
      color: $accent;
    }
  }
}
/*investors
=======================================*/ 

/*category
=======================================*/ 
.category {
  &-item {
    margin-bottom: 30px;
    max-width: 360px;
    background: $white;

    @media screen and (max-width: $lg) {
       display: table;
       margin-left: auto;     
       margin-right: auto;     
    }    

    img {
      margin-bottom: 20px;
      width: 100%;
      height: auto;
    }

    &__content{
      padding: 30px;
    }

    &__title{
      display: block;
      text-align: center;
      margin-bottom: 20px;
    }

    &__price {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      color: $accent;
    }

    .btn {
      display: block;
      margin-bottom: 20px;
      text-align: center;
    }

    &__read-more {
      display: block;
      text-align: center;
      color: $dark;
    }
  }
}
/*category
=======================================*/ 

/*page
=======================================*/ 
.object-page {
  &__gallery {
    float: right;
  }
}

/*page
=======================================*/ 

/*footer-main
=======================================*/ 
.footer-main {
  padding: 60px 0;
  color: $gray-dark;
  background: $dark;

  &__item{
    @media screen and (max-width: $lg) {
       margin-bottom: 80px;     
    }    
  }

  &__policy-link{
    display: block;
    margin-top: 20px;
  }

  a{
    color: $gray-dark;
    transition: all .2s ease;

    &:hover{
      color: $white;
    }
  }

  small {
    display: block;
    margin-top: 50px;
    max-width: 80%;
    font-size: 10px;
    line-height: 16px;
  }

  ul {
    li {
      line-height: 32px;
    }
  }
}

.footer-contacts {
  margin-bottom: 30px;
  text-align: right;

  @media screen and (max-width: $lg) {
     text-align: left;     
  }    

  &__phone {
    font-size: 20px;
    font-weight: bold;
    color: $accent;
  }
}

.socials {
  text-align: right;

  @media screen and (max-width: $lg) {
     text-align: left;     
  } 

  li {
    display: inline-block;
    margin: 0 6px;

    &:last-child{
      margin-right: 0;
    }
  }

  a{
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #1E1D1E;
    border-radius: 50%;
    transition: all .4s ease;

    &:hover {
      background: lighten(#1e1d1e, 10%);
    }
  }

  .fa {
    color: $white;
  }
}
/*footer-main
=======================================*/ 

/*modal
=======================================*/ 
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 50px;
    max-width: 320px;
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 20px rgba(0,0,0,.3);

    .close{
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 20px;
      opacity: .5;

      &:hover {
        cursor: pointer;
      }
    }
    
    h4{
      margin-top: 0;
      font-size: 18px;
      color: $accent;
    }

    p {
      font-size: 12px;
    }

  }

  &-form {
    margin-top: 30px;
    
    input {
      margin-bottom: 10px;
      width: 100%;
      padding: 20px;
      border: 1px solid rgba($dark, 0.15);
      border-radius: 4px;
    }

    .btn {
      margin-bottom: 20px;
      width: 100%;
    }
  }
}

/*modal
=======================================*/ 

