@import "../libs/slick/_slick.scss";
@import 'partials/_start.scss';

body{
  padding-top: 40px;
}

/*top-nav
=======================================*/ 
.top-nav {
  //padding: 15px;
  background: $white;

  .logo {
    padding: 15px;

    a{
      display: flex;
      align-items: center;
    }
  }

  &_menu {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: stretch;

    li{
      display: inline-block;

      &:first-child a{
        padding-left: 0;
      }

      &.active {
        a{
          &::after {
            transform: scale(1);
          }
        }
      }
    }

    a{
      display: block;
      padding-left: 22px;
      padding-right: 22px;
      height: 89px;
      line-height: 89px;
      font-weight: bold;
      text-transform: uppercase;
      color: $dark;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: $accent;
        transform: scale(0);
        transition: all .5s ease;
      }

      &:hover::after {
        transform: scale(1);
      }
    }
  }
}

.main {
  padding: 30px 0;
}

/*left-sidebar
=======================================*/ 
.left-sidebar{
  &__menu {
    background: $white;

    li:first-child a{
      padding-top: 20px;
    }

    li:last-child a{
      padding-bottom: 20px;
    }

    a{
      display: block;
      padding: 15px 30px;
      font-size: 16px;
      color: $dark;
      transition: all .3s;

      &:hover {
        color: $white;
        background: $accent;
      }
    }
  }

  &__object {
    margin-bottom: 30px;
    background: $white;

    .img-wrap{
      width: 100%;
      height: 200px;

      img{
        width: 100%;
        height: auto;
      }
    }

    h3 {
      font-weight: normal;
      text-transform: uppercase;
    }

    &-description {
      padding: 30px;

      a{
        text-decoration: underline;
      }
    }
  }
}
/*left-sidebar
=======================================*/ 

/*content
=======================================*/ 
.content{
  &-index{
    margin-bottom: 85px;
  }
}

/*directions
=======================================*/ 
.directions {
  &__block {
    margin: 0 15px;
    padding: 15px 10px;
    text-align: center;
    height: 220px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    h3{
      color: $accent;
    }
  }

  .slick-active,
  .slick-active:focus {
      outline: none!important;
    }

  .slick-dots{
    bottom: -40px;

    li{
      
      &.slick-active{
        button{
          background: #444;
        }
      }

      button{
        width: 4px;
        height: 4px;
        background: #888;
        border-radius: 50%;

        &::before{
          content: '';
          width: 8px;
          height: 8px;
        }
      }
    }
  }
}
/*directions
=======================================*/ 

/*footer-main
=======================================*/ 
.footer-main {
  padding: 60px 0;
  color: $gray-dark;
  background: $dark;

  &__policy-link{
    display: block;
    margin-top: 20px;
  }

  a{
    color: $gray-dark;
    transition: all .2s ease;

    &:hover{
      color: $white;
    }
  }

  small {
    display: block;
    margin-top: 50px;
    max-width: 80%;
    font-size: 10px;
    line-height: 16px;
  }

  ul {
    li {
      line-height: 32px;
    }
  }
}

.footer-contacts {
  margin-bottom: 30px;
  text-align: right;

  &__phone {
    font-size: 20px;
    font-weight: bold;
    color: $accent;
  }
}

.footer-socials {
  text-align: right;

  li {
    display: inline-block;
    margin: 0 6px;

    &:last-child{
      margin-right: 0;
    }
  }

  a{
    display: inline-block;
    padding: 8px;
    width: 34px;
    height: 34px;
    line-height: 1;
    text-align: center;
    background: #1E1D1E;
    border-radius: 50%;
    transition: all .4s ease;

    &:hover {
      background: lighten(#1e1d1e, 10%);
    }
  }

  .fa {
    color: $white;
  }
}
/*footer-main
=======================================*/ 



